<!-- <input class="form-text" [(ngModel)]="text" placeholder="Input you text here:" style="width: 300px; margin-right: 20px;"> -->
<textarea  [(ngModel)]="text" style="width:350px; height:80px;" cols="42" rows="5" name="sitelink">
  
</textarea>

<input [(ngModel)]="letters" type="checkbox" id="letters" name="letters" checked>
<label for="letters">Letters  </label>

<input [(ngModel)]="bigrams" type="checkbox" id="bigrams" name="bigrams">
<label for="bigrams">Bigrams  </label>

<input [(ngModel)]="trigrams" type="checkbox" id="trigrams" name="trigrams">
<label for="trigrams">Trigrams  </label>

<input [(ngModel)]="lastLetters" type="checkbox" id="lastLetters" name="lastLetters">
<label for="lastLetters">Last letters  </label>

  <br/>   Max count on the chart: 
<input  type="number" [(ngModel)]="maxCount" type="text" id="maxCount" name="maxCount" (ngModelChange)="onClickMe()">

<button id="submitButton" class="btn btn-primary" (click)="onClickMe()">Process</button>

<div class="wrapper">
<br />
<br />
Order by:
  <select [(ngModel)]="lettersOrder" name="lettersOrder" (ngModelChange)="onChange(0, lettersOrder)">
    <option value="frq">Frequency</option>
    <option value="abc">ABC</option>
  </select>
<canvas #Letters id="Letters" width="1400" height="600"></canvas>
<br />
<br />
Order by:
<select [(ngModel)]="bigramsOrder" name="bigramsOrder" (ngModelChange)="onChange(1, bigramsOrder)">
  <option value="frq">Frequency</option>
  <option value="abc">ABC</option>
</select>
<canvas #Bigrams id="Bigrams" width="1400" height="800"></canvas>
<br />
<br />
Order by:
<select [(ngModel)]="trigramsOrder" name="trigramsOrder" (ngModelChange)="onChange(2, trigramsOrder)">
  <option value="frq">Frequency</option>
  <option value="abc">ABC</option>
</select>
<canvas #Trigrams id="Trigrams" width="1400" height="800"></canvas>
<br />
<br />
Order by:
<select [(ngModel)]="lastLettersOrder" name="lastLettersOrder" (ngModelChange)="onChange(3, lastLettersOrder)">
  <option value="frq">Frequency</option>
  <option value="abc">ABC</option>
</select>
<canvas #LastLetters id="LastLetters" width="1400" height="800"></canvas>

<br/>   Combinations of symbols: 
<input  type="text" [(ngModel)]="letter" type="text" id="letter" name="letter" (ngModelChange)="onChangeLetter($event)">
<p>Count: {{letterCount}}</p>
</div>